:root {
    --dark-gray: #707e96;
    --dark-purple: #4816bd;
    --very-dark-purple: #381f72;
    --very-dark-blue: #1f3e72;
    --light-purple: #8856ff;
    --light-blue: #e9f1fe;
}

body {
    font-family: 'Poppins', sans-serif;
}